$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
///MAIN STYLES///
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    color: #000;
    font-family: 'Kumbh Sans', sans-serif;
    border: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    line-height: 35px;
}

h2 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: $orange;
    line-height: 0px;
}

button,
.header__avatar,
.fa-shopping-cart,
.slideshow__thumb,
.quantity__plus,
.quantity__minus,
{
    cursor: pointer;
}

p {
    font-weight: 400;
    color: $darkGrayishBlue;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.header {
    background-color: $white;
    z-index: 300;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $grayishBlue;
    &__menu-icon {
        margin-right: 1.5rem;
    }
    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: border 1s;
        &:hover {
            border: 2px solid $orange;
        }
    }
    &__logo {
        margin-right: auto;
    }
    & i {
        font-size: 1.2rem;
        margin-right: 1.5rem;
    }
}

.nav-menu {
    z-index: 500;
    display: flex;
    transform: translatex(-100%);
    transition: transform 1s;
    flex-direction: column;
    font-size: 16px;
    font-weight: 800;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 250px;
    height: 100vh;
    & ul {
        padding: 0;
        margin-left: 20px;
    }
    & ul li {
        list-style-type: none;
        margin: 30px 0 0 0;
        padding: 0;
    }
    & ul li a {
        color: $black;
    }
    &.visible {
        display: flex;
        transform: translatex(0);
    }
    &__close-icon {
        display: block;
        margin-bottom: 40px;
        position: relative;
        top: 20px;
        left: 20px;
        width: 15px;
    }
}

.basket-container {
    & i {
        position: relative;
    }
    & i span {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        font-size: 10px;
        font-weight: 200;
        color: $white;
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: orange;
        border-radius: 8px;
        line-height: 14px
    }
}

.prices {
    display: flex;
    align-items: center;
    &__current-price {
        font-weight: 800;
        font-size: 20px;
        margin-right: 1rem;
    }
    &__offer {
        background-color: $paleOrange;
        color: $orange;
        padding: 0.5rem 0.75rem;
        ;
        font-weight: 600;
        margin-right: auto;
        border-radius: 5px;
    }
    &__full-price {
        color: $grayishBlue;
        text-decoration: line-through;
        font-weight: 600;
    }
}

main {
    display: flex;
    flex-direction: column;
}

article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideshow {
    position: relative;
    &__control {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $lightGrayishBlue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--left {
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        &--right {
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover i {
            fill: $orange;
        }
    }
    &__img {
        max-width: 100%;
        display: none;
        &.active {
            display: block;
        }
    }
    &__thumbs {
        display: none;
        margin-top: 1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    &__thumb {
        border-radius: 5px;
        width: 22%;
        transition: outline 0.5s, filter 0.5s;
        outline: 5px solid transparent;
    }
    &__thumb.highlighted {
        filter: opacity(0.5);
        outline: 5px solid $orange;
    }
}

.quantity {
    outline: none;
    border: none;
    background-color: $lightGrayishBlue;
    color: $black;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border-radius: 5px;
    &__minus,
    &__plus {
        font-weight: 800;
        display: block;
        margin: 0 1rem;
        font-size: 20px;
        color: $orange;
    }
    &__value {
        font-weight: 800;
    }
}

button.addtobasket {
    outline: none;
    border: none;
    background-color: $orange;
    color: $white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px 10px $paleOrange;
    transition: transform 0.5s, background-color 0.8s;
    &:hover {
        transform: scale(0.98);
    }
    &:active {
        transform: scale(0.95);
        background-color: lighten($orange, 10%)
    }
}

.basket-container {
    position: relative;
}

.basket {
    z-index: 200;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 5%;
    left: 5%;
    max-width: 350px;
    min-height: 200px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ddd;
    &__title {
        margin: 1.5rem 1rem;
        color: $black;
    }
    &__list {
        border-top: 1px solid $grayishBlue;
        width: 100%;
    }
    &__content {
        padding: 1rem;
        flex: 1;
        border-top: 1px solid $grayishBlue;
        width: 100%;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & ul,
        li {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        & ul {
            flex: 1;
        }
        & ul li {
            width: 100%;
            display: flex;
            align-items: center;
        }
        & ul li .basket__img {
            width: 50px;
            height: 50px;
            border-radius: 3px;
            margin-right: 1rem;
        }
        & ul li span {
            font-weight: 100;
            font-size: 16px;
        }
        & .basket__details {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }
        & .fas.fa-trash-alt {
            margin-left: 0.5rem;
            margin-right: 0;
            &:hover {
                transform: scale(0.90);
            }
        }
    }
    &.hidden {
        display: none;
    }
}

button.addtobasket.checkout-btn {
    margin-bottom: 0;
}

@media only screen and(min-width: 420px) {
    .basket {
        z-index: 200;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: auto;
        right: -50%;
        max-width: 360px;
        min-height: 200px;
        width: 360px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 5px 2px #ddd;
    }
}

@media only screen and (min-width:480px) {
    .header {
        padding: 1.2rem 1rem;
        margin: 0 auto 2rem 0;
    }
    main {
        margin: auto;
        width: 90%;
        max-width: 500px;
    }
    .slideshow__img {
        margin: 0 auto;
        border-radius: 10px;
    }
    .slideshow__control {
        display: none;
    }
    .slideshow__thumbs {
        display: flex;
    }
}

@media only screen and (min-width:750px) {
    .header {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    main {
        margin: 3rem auto;
        flex-direction: row;
        width: 90%;
        max-width: 900px;
    }
    .slideshow {
        margin-right: 2rem;
    }
    .slideshow__img {
        margin: 0 0 0;
        border-radius: 10px;
    }
    button.addtobasket {
        margin-bottom: 4rem;
    }
    .prices {
        flex-wrap: wrap;
    }
    .prices__full-price {
        margin-top: 1rem;
        width: 100%;
    }
    .basket-wrapper {
        display: flex;
    }
    .basket-wrapper .quantity {
        flex: 0.4;
        margin-right: 1rem;
    }
    .basket-wrapper button.addtobasket {
        flex: 0.6;
    }
    article h1 {
        margin-bottom: 0;
    }
    .header__menu-icon {
        display: none;
    }
    .header__logo {
        margin-right: 0;
    }
    .nav-menu {
        flex: 1;
        background: transparent;
        opacity: 1;
        margin: 0;
        padding: 0;
        align-items: stretch;
        justify-content: center;
        transform: translatex(0);
        flex-direction: row;
        position: relative;
        transition: none;
        width: auto;
        height: 100px;
        top: 0;
        left: 0;
        margin-right: 0;
        ;
        &__close-icon {
            display: none;
        }
        & ul {
            margin: 0 0 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            flex: 1;
        }
        & ul li {
            margin: 0;
            color: $grayishBlue;
            margin-left: 1rem;
            padding: 0;
            font-size: 16px;
            font-weight: 300;
            display: flex;
            align-items: center;
            border-bottom: 2px solid transparent;
        }
        & ul li a {
            color: $grayishBlue;
        }
        & ul li:hover {
            border-bottom: 2px solid $orange;
        }
        & ul li:hover a {
            color: $black;
        }
    }
}